@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #10141e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav-icon {
  fill: #5A698F;
}

.nav-icon:hover {
  fill: #FC4747;
  cursor: pointer;
}

.nav-icon:focus {
  outline: #FFFFFF;
}

.active-nav-icon>* {
  fill: #FFFFFF;
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 768px) {

  .bookmarkContainer:hover .emptyBookmark,
  .bookmarkContainer.hover .emptyBookmark {
    stroke: #10141e;
  }

  .bookmarkContainer:hover .fullBookmark,
  .bookmarkContainer.hover .fullBookmark {
    fill: #10141e;
  }

  .thumbnailContainer:hover .playIconContainer,
  .thumbnailContainer.hover .playIconContainer {
    display: block;
  }
}